body {
  background-color: white;
  background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-dark.png"),
    linear-gradient(90deg, rgb(28, 28, 28), rgb(12, 32, 68));
}
.container {
  width: 90%;
  margin: 0 auto;
}
